<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".FriendList">
        </activity>
        <activity
            android:name=".SecondOnboardingActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ThirdOnboardingActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".StoreActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".DressActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".StoreItem"
            android:exported="true">
        </activity>

        <activity
            android:name=".StoreItemAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".Sticker"
            android:exported="true">
        </activity>

        <activity
            android:name=".StickerRequest"
            android:exported="true">
        </activity>

        <activity
            android:name=".StickerRequestAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".ActivityViewHolder"
            android:exported="true">
        </activity>

        <activity
            android:name=".ActivityLogAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".HomeMainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".FriendAddActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".waterquest_introduce"
            android:exported="true">
        </activity>

        <activity
            android:name=".sand_introduce"
            android:exported="true">
        </activity>

        <activity
            android:name=".removequest_introduce"
            android:exported="true">
        </activity>

        <activity
            android:name=".artificial_introduce"
            android:exported="true">
        </activity>

        <activity
            android:name=".artificialquest_message"
            android:exported="true">
        </activity>

        <activity
            android:name=".artificial_oxquiz_start"
            android:exported="true">
        </activity>

        <activity
        android:name=".artificial_quiz_CorrectActivity"
        android:exported="true">
    </activity>

        <activity
            android:name=".artificial_quiz_IncorrectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".reward_artificialquest"
            android:exported="true">
        </activity>

        <activity
            android:name=".smellquest_text"
            android:exported="true">
        </activity>

        <activity
            android:name=".smellquest_message"
            android:exported="true">
        </activity>

        <activity
            android:name=".sandquest_message"
            android:exported="true">
        </activity>


        <activity
            android:name=".reward_waterquest"
            android:exported="true">
        </activity>

        <activity
            android:name=".reward_smellquest"
            android:exported="true">
        </activity>

        <activity
            android:name=".reward_removequest"
            android:exported="true">
        </activity>

        <activity
            android:name=".reward_sandquest"
            android:exported="true">
        </activity>

        <activity
            android:name=".waterquest_message"
            android:exported="true">
        </activity>

        <activity
            android:name=".removequest_message"
            android:exported="true">
        </activity>

        <activity
            android:name=".looking_message"
            android:exported="true">
        </activity>

        <activity
            android:name=".looking_text"
            android:exported="true">
        </activity>

        <activity
            android:name=".reward_looking"
            android:exported="true">
        </activity>

        <activity
            android:name=".touching_message"
            android:exported="true">
        </activity>

        <activity
            android:name=".touching_text"
            android:exported="true">
        </activity>

        <activity
            android:name=".reward_touching"
            android:exported="true">
        </activity>

        <activity
            android:name=".talking_message"
            android:exported="true">
        </activity>

        <activity
            android:name=".talking_text"
            android:exported="true">
        </activity>

        <activity
            android:name=".reward_talking"
            android:exported="true">
        </activity>

        <activity
            android:name=".water_oxquiz_start"
            android:exported="true">
        </activity>

        <activity
            android:name=".sand_oxquiz_start"
            android:exported="true">
        </activity>

        <activity
            android:name=".remove_oxquiz_start"
            android:exported="true">
        </activity>

        <activity
            android:name=".waterquiz_correct"
            android:exported="true">
        </activity>

        <activity
            android:name=".sand_quiz_CorrectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ActivityLogActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".UserActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".inbox_user"
            android:exported="true">
        </activity>

        <activity
            android:name=".inbox_friend"
            android:exported="true">
        </activity>

        <activity
            android:name=".profile"
            android:exported="true">
        </activity>

        <activity
            android:name=".profile_edit"
            android:exported="true">
        </activity>

        <activity
            android:name=".water_quiz_CorrectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".remove_quiz_CorrectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".remove_quiz_IncorrectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".sand_quiz_IncorrectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".FriendRequestsActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".FriendRequest"
            android:exported="true">
        </activity>

        <activity
            android:name=".FriendRequestAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".water_quiz_IncorrectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ShopActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".DecorateActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ItemAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".ShopMainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".PopupMainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".alarm"
            android:exported="true">
        </activity>

        <activity
            android:name=".GuideSlidePageFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".GuideSlidePagerAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".Guide"
            android:exported="true">
        </activity>


        <activity
            android:name=".LoginMainActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".Register"
            android:exported="true">
        </activity>

        <activity
            android:name=".PopupActivity"
            android:exported="true" />

        <receiver
            android:name=".PopupReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mureok.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>